<% if (language === "en") { %>
    <div style="font-family: Helvetica,Arial,sans-serif; min-width: 1000px; overflow:auto; padding: 20px 0;">
        <section class="begin" style="text-align: center; color: #6A017A; margin-bottom: 20px;">
            <img src="https://api.ubuyblues.com/assets/images/stores/UbuyBlues_Logo_merged_Purple.webp" alt="Ubuyblues Image"
                style="width: 100px; height: 100px;">
        </section>
        <section class="content"
            style="width: 80%; border: 1px solid #6A017A; margin: auto; padding: 20px; line-height: 2;">
            <h2 style="text-align: center;">Block Store In Ubuyblues</h2>
            <h3>Dear <span style="font-weight: bold; color: #6A017A">Merchant</span>,</h3>
            <p>We Regret To Inform You That Your Merchant Account Has Been Blocked On Our Site .
            </p>
            <h4>Your Account ID: <%= adminId %></h4>
            <h4>Your Store ID: <%= storeId %></h4>
            <p>This decision is based on site policies which must be adhered to.</p>
            <p>Thank you for your understanding .</p>
            <h4>Best regards,</h4>
            <h4 style="line-height: 0; color: #6A017A;">The Ubuyblues Team</h4>
        </section>
    </div>
<% } else if (language === "ar") { %>
    <div style="font-family: Helvetica,Arial,sans-serif; min-width: 1000px; overflow:auto; padding: 20px 0; direction: rtl;">
        <section class="begin" style="text-align: center; color: #6A017A; margin-bottom: 20px;">
            <img src="https://api.ubuyblues.com/assets/images/stores/UbuyBlues_Logo_merged_Purple.webp" alt="Ubuyblues Image"
                style="width: 100px; height: 100px;">
        </section>
        <section class="content"
            style="width: 80%; border: 1px solid #6A017A; margin: auto; padding: 20px; line-height: 2;">
            <h2 style="text-align: center;">حظر متجر في Ubuyblues</h2>
            <h3>عزيزي <span style="font-weight: bold; color: #6A017A">التاجر</span>,</h3>
            <p>نأسف لإبلاغكم بأن حساب التاجر الخاص بكم قد تم حظره على موقعنا .</p>
            <h4>معرّف الحساب الخاص بك : <%= adminId %></h4>
            <h4>معرّف المتجر الخاص بك : <%= storeId %></h4>
            <p>هذا القرار نابع من سياسات الموقع والتي يتعين الامتثال لها .</p>
            <p>شكراً لتفهمكم .</p>
            <h4>أطيب التحيات,</h4>
            <h4 style="line-height: 0; color: #6A017A;">فريق عمل Ubuyblues</h4>
        </section>
    </div>
<% } else if (language === "de") { %>
    <div style="font-family: Helvetica,Arial,sans-serif; min-width: 1000px; overflow:auto; padding: 20px 0;">
        <section class="begin" style="text-align: center; color: #6A017A; margin-bottom: 20px;">
            <img src="https://api.ubuyblues.com/assets/images/stores/UbuyBlues_Logo_merged_Purple.webp" alt="Ubuyblues Image"
                style="width: 100px; height: 100px;">
        </section>
        <section class="content"
            style="width: 80%; border: 1px solid #6A017A; margin: auto; padding: 20px; line-height: 2;">
            <h2 style="text-align: center;">Block Store im Ubuyblues</h2>
            <h3>Sehr geehrte/r <span style="font-weight: bold; color: #6A017A">Händler</span>,</h3>
            <p>Wir bedauern, Ihnen mitteilen zu müssen, dass Ihr Händlerkonto auf unserer Seite gesperrt wurde .</p>
            <h4>Ihre Kontonummer: <%= adminId %></h4>
            <h4>Ihre Geschäft-ID: <%= storeId %></h4>
            <p>Diese Entscheidung basiert auf den Richtlinien der Seite, die eingehalten werden müssen .</p>
            <p>Vielen Dank für Ihr Verständnis .</p>
            <h4>Mit freundlichen Grüßen,</h4>
            <h4 style="line-height: 0; color: #6A017A;">Das Ubuyblues-Team</h4>
        </section>
    </div>
<% } else { %>
    <div style="font-family: Helvetica,Arial,sans-serif; min-width: 1000px; overflow:auto; padding: 20px 0;">
        <section class="begin" style="text-align: center; color: #6A017A; margin-bottom: 20px;">
            <img src="https://api.ubuyblues.com/assets/images/stores/UbuyBlues_Logo_merged_Purple.webp" alt="Ubuyblues Image"
                style="width: 100px; height: 100px;">
        </section>
        <section class="content"
            style="width: 80%; border: 1px solid #6A017A; margin: auto; padding: 20px; line-height: 2;">
            <h2 style="text-align: center;">Ubuyblues'ta Blok Mağazası</h2>
            <h3>Sayın <span style="font-weight: bold; color: #6A017A">Satıcı</span>,</h3>
            <p>Üzülerek bildiririz ki, satıcı hesabınız sitemizde engellenmiştir .</p>
            <h4>Hesap Kimliğiniz: <%= adminId %></h4>
            <h4>Mağaza Kimliğiniz: <%= storeId %></h4>
            <p>Bu karar, uyulması gereken site politikalarına dayanmaktadır .</p>
            <p>Anlayışınız için teşekkür ederiz .</p>
            <h4>Saygılarımla,</h4>
            <h4 style="line-height: 0; color: #6A017A;">Ubuyblues Ekibi</h4>
        </section>
    </div>
<% } %>