<% if (language === "en") { %>
    <div style="font-family: Helvetica,Arial,sans-serif; min-width: 1000px; overflow:auto; padding: 20px 0;">
        <section class="begin" style="text-align: center; color: #6A017A; margin-bottom: 20px;">
            <img src="https://api.ubuyblues.com/assets/images/stores/UbuyBlues_Logo_merged_Purple.webp" alt="Ubuyblues Image"
                style="width: 100px; height: 100px;">
        </section>
        <section class="content"
            style="width: 80%; border: 1px solid #6A017A; margin: auto; padding: 20px; line-height: 2;">
            <h2 style="text-align: center;">Hello</h2>
            <p>
                We are pleased to inform you that your order number <%= newOrderDetails.orderNumber %> has been successfully delivered.
            </p>
            <p>
                Thank you for shopping with Ubuyblues. We hope you are satisfied with your purchase.
            </p>
            <p>
                Your opinion matters to us, and we would love to hear more about your shopping experience with Ubuyblues.
            </p>
            <p>
                Please click on this <a href="https://forms.gle/V6e44dHaQCqpuKHi8">link</a> to provide your feedback.
            </p>
            <p>
                Order Summary:
            </p>
            <p>
                Delivery Address:
            </p>
            <ul>
                <li>Full Name: <%= newOrderDetails.shippingAddress.firstName %> <%= newOrderDetails.shippingAddress.lastName %></li>
                <li>Country: <%= newOrderDetails.shippingAddress.country %></li>
                <li>City: <%= newOrderDetails.shippingAddress.city %></li>
                <li>Street Address / Neighborhood: <%= newOrderDetails.shippingAddress.streetAddress %></li>
                <% if (newOrderDetails.shippingAddress.apartmentNumber) { %>
                    <li>Apartment Number: <%= newOrderDetails.shippingAddress.apartmentNumber %></li>
                <% } %>
            </ul>
            <p>
                Billing Address:
            </p>
            <ul>
                <li>Full Name: <%= newOrderDetails.billingAddress.firstName %> <%= newOrderDetails.billingAddress.lastName %></li>
                <li>Country: <%= newOrderDetails.billingAddress.country %></li>
                <li>City: <%= newOrderDetails.billingAddress.city %></li>
                <li>Street Address / Neighborhood: <%= newOrderDetails.billingAddress.streetAddress %></li>
                <% if (newOrderDetails.billingAddress.apartmentNumber) { %>
                    <li>Apartment Number: <%= newOrderDetails.billingAddress.apartmentNumber %></li>
                <% } %>
            </ul>
            <p>
                Payment Details:
            </p>
            <table style="text-align: center; width: 100%;">
                <thead>
                    <th style="padding: 10px 0;">Product Image</th>
                    <th style="padding: 10px 0;">Product Name</th>
                    <th style="padding: 10px 0;">Quantity</th>
                    <th style="padding: 10px 0;">Discount</th>
                    <th style="padding: 10px 0;">Price</th>
                </thead>
                <tbody>
                    <% for( let i = 0; i < newOrderDetails.products.length; i++ ) { %>
                        <tr>
                            <td style="padding: 10px 0;">
                                <img src="https://api.ubuyblues.com/<%= newOrderDetails.products[i].imagePath %>" alt="<%= newOrderDetails.products[i].name %> Image" style="width: 100px; height: 100px;" />
                            </td>
                            <td style="padding: 10px 0;">
                                <%= newOrderDetails.products[i].name %>
                            </td>
                            <td style="padding: 10px 0;">
                                <%= newOrderDetails.products[i].quantity %>
                            </td>
                            <td style="padding: 10px 0;">
                                <%= newOrderDetails.products[i].discount %>
                            </td>
                            <td style="padding: 10px 0;">
                                <%= newOrderDetails.products[i].unitPrice %>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <p>
                Total Amount: <%= newOrderDetails.totalPriceBeforeDiscount %>
            </p>
            <p>
                Shipping Fee: <%= newOrderDetails.shippingCost.forLocalProducts + newOrderDetails.shippingCost.forInternationalProducts %>
            </p>
            <p>
                Total Discount: <%= newOrderDetails.totalDiscount %>
            </p>
            <p>
                Final Amount: <%= newOrderDetails.totalPriceAfterDiscount %>
            </p>
            <p>
                Please review our <a href="https://ubuyblues.com/return-and-refund-policy">Return Policy</a>
            </p>
            <p>
                Our customer service team is ready to assist you at the email:
            </p>
            <a href="mailto:support@ubuyblues.com">support@ubuyblues.com</a>
            <div class="notes" style="text-align: center; border: 1px solid #000;">
                <h3>This email has been sent automatically.</h3>
                <h3>Please do not reply to this message.</h3>
                <h3>All rights reserved by Ubuyblues.</h3>
            </div>
            <h4>Best regards,</h4>
            <h4 style="line-height: 0; color: #6A017A;">The Ubuyblues Team</h4> 
        </section>
    </div>
<% } else if (language === "ar") { %>
    <div style="font-family: Helvetica,Arial,sans-serif; min-width: 1000px; overflow:auto; padding: 20px 0; direction: rtl;">
        <section class="begin" style="text-align: center; color: #6A017A; margin-bottom: 20px;">
            <img src="https://api.ubuyblues.com/assets/images/stores/UbuyBlues_Logo_merged_Purple.webp" alt="Ubuyblues Image"
                style="width: 100px; height: 100px;">
        </section>
        <section class="content"
            style="width: 80%; border: 1px solid #6A017A; margin: auto; padding: 20px; line-height: 2;"
        >
            <h2 style="text-align: center;">مرحباً</h2>
            <p>
                يسعدنا إخبارك أن طلبك رقم <%= newOrderDetails.orderNumber %> قد تم توصيله بنجاح
            </p>
            <p>
                شكراً على التسوق من Ubuyblues ونأمل أن تكون سعيداًَ بعملية الشراء .
            </p>
            <p>
                رأيك يهمنا ، نود أن نسمع منك المزيد عن تجربة التسوق من Ubuyblues .
            </p>
            <p>
                الرجاء الضغط على هذا <a href="https://forms.gle/bpCTdcSZomZBEMCL7">الرابط</a> للتقييم
            </p>
            <p>
                ملخص الطلب :
            </p>
            <p>
                عنوان التوصيل:
            </p>
            <ul>
                <li>الاسم الكامل: <%= newOrderDetails.shippingAddress.firstName %> <%= newOrderDetails.shippingAddress.lastName %></li>
                <li>الدولة: <%= newOrderDetails.shippingAddress.country %></li>
                <li>المدينة: <%= newOrderDetails.shippingAddress.city %></li>
                <li>عنوان الشارع / الحي: <%= newOrderDetails.shippingAddress.streetAddress %></li>
                <% if (newOrderDetails.shippingAddress.apartmentNumber) { %>
                    <li>رقم الشقة: <%= newOrderDetails.shippingAddress.apartmentNumber %></li>
                <% } %>
            </ul>
            <p>
                عنوان الدفع:
            </p>
            <ul>
                <li>الاسم الكامل: <%= newOrderDetails.billingAddress.firstName %> <%= newOrderDetails.billingAddress.lastName %></li>
                <li>الدولة: <%= newOrderDetails.billingAddress.country %></li>
                <li>المدينة: <%= newOrderDetails.billingAddress.city %></li>
                <li>عنوان الشارع / الحي: <%= newOrderDetails.billingAddress.streetAddress %></li>
                <% if (newOrderDetails.billingAddress.apartmentNumber) { %>
                    <li>رقم الشقة: <%= newOrderDetails.billingAddress.apartmentNumber %></li>
                <% } %>
            </ul>
            <p>
                تفاصيل الدفع:
            </p>
            <table style="text-align: center; width: 100%;">
                <thead>
                    <th style="padding: 10px 0;">صورة المنتج</th>
                    <th style="padding: 10px 0;">اسم المنتج</th>
                    <th style="padding: 10px 0;">العدد</th>
                    <th style="padding: 10px 0;">الخصم</th>
                    <th style="padding: 10px 0;">السعر</th>
                </thead>
                <tbody>
                    <% for( let i = 0; i < newOrderDetails.products.length; i++ ) { %>
                        <tr>
                            <td style="padding: 10px 0;">
                                <img src="https://api.ubuyblues.com/<%= newOrderDetails.products[i].imagePath %>" alt="<%= newOrderDetails.products[i].name %> Image" style="width: 100px; height: 100px;" />
                            </td>
                            <td style="padding: 10px 0;">
                                <%= newOrderDetails.products[i].name %>
                            </td>
                            <td style="padding: 10px 0;">
                                <%= newOrderDetails.products[i].quantity %>
                            </td>
                            <td style="padding: 10px 0;">
                                <%= newOrderDetails.products[i].discount %>
                            </td>
                            <td style="padding: 10px 0;">
                                <%= newOrderDetails.products[i].unitPrice %>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <p>
                المبلغ الإجمالي: <%= newOrderDetails.totalPriceBeforeDiscount %>
            </p>
            <p>
                رسوم الشحن: <%= newOrderDetails.shippingCost.forLocalProducts + newOrderDetails.shippingCost.forInternationalProducts %>
            </p>
            <p>
                الخصم الإجمالي: <%= newOrderDetails.totalDiscount %>
            </p>
            <p>
                المبلغ النهائي: <%= newOrderDetails.totalPriceAfterDiscount %>
            </p>
            <p>
                يرجى الإطلاع على <a href="https://ubuyblues.com/return-and-refund-policy">سياسة الإسترجاع</a> الخاصة بنا ؟
            </p>
            <p>
                فريق خدمة الزبائن جاهز لمساعدتك على الإيميل:
            </p>
            <a href="mailto:support@ubuyblues.com">support@ubuyblues.com</a>
            <div class="notes" style="text-align: center; border: 1px solid #000;">
                <h3>تم إرسال هذا البريد الالكتروني بشكل تلقائي .</h3>
                <h3>يرجى عدم الدم على هذه الرسالة .</h3>
                <h3>جميع الحقوق محفوظة لـ Ubuyblues</h3>
            </div>
            <h4>أطيب التحيات,</h4>
            <h4 style="line-height: 0; color: #6A017A;">فريق عمل Ubuyblues</h4> 
        </section>
    </div>
<% } else if (language === "de") { %>
    <div style="font-family: Helvetica,Arial,sans-serif; min-width: 1000px; overflow:auto; padding: 20px 0;">
        <section class="begin" style="text-align: center; color: #6A017A; margin-bottom: 20px;">
            <img src="https://api.ubuyblues.com/assets/images/stores/UbuyBlues_Logo_merged_Purple.webp" alt="Ubuyblues Image"
                style="width: 100px; height: 100px;">
        </section>
        <section class="content"
            style="width: 80%; border: 1px solid #6A017A; margin: auto; padding: 20px; line-height: 2;">
            <h2 style="text-align: center;">Hallo</h2>
            <p>
                Wir freuen uns, Ihnen mitteilen zu können, dass Ihre Bestellung Nummer <%= newOrderDetails.orderNumber %> erfolgreich zugestellt wurde.
            </p>
            <p>
                Vielen Dank für Ihren Einkauf bei Ubuyblues. Wir hoffen, dass Sie mit Ihrem Kauf zufrieden sind.
            </p>
            <p>
                Ihre Meinung ist uns wichtig, und wir würden gerne mehr über Ihre Einkaufserfahrung bei Ubuyblues erfahren.
            </p>
            <p>
                Bitte klicken Sie auf diesen <a href="https://forms.gle/B8Dh9eKnCVEJQAEUA">link</a>, um Ihre Bewertung abzugeben.
            </p>
            <p>
                Bestellübersicht:
            </p>
            <p>
                Lieferadresse:
            </p>
            <ul>
                <li>Vollständiger Name: <%= newOrderDetails.shippingAddress.firstName %> <%= newOrderDetails.shippingAddress.lastName %></li>
                <li>Land: <%= newOrderDetails.shippingAddress.country %></li>
                <li>Stadt: <%= newOrderDetails.shippingAddress.city %></li>
                <li>Straßenadresse / Viertel: <%= newOrderDetails.shippingAddress.streetAddress %></li>
                <% if (newOrderDetails.shippingAddress.apartmentNumber) { %>
                    <li>Wohnungsnummer: <%= newOrderDetails.shippingAddress.apartmentNumber %></li>
                <% } %>
            </ul>
            <p>
                Rechnungsadresse:
            </p>
            <ul>
                <li>Vollständiger Name: <%= newOrderDetails.billingAddress.firstName %> <%= newOrderDetails.billingAddress.lastName %></li>
                <li>Land: <%= newOrderDetails.billingAddress.country %></li>
                <li>Stadt: <%= newOrderDetails.billingAddress.city %></li>
                <li>Straßenadresse / Viertel: <%= newOrderDetails.billingAddress.streetAddress %></li>
                <% if (newOrderDetails.billingAddress.apartmentNumber) { %>
                    <li>Wohnungsnummer: <%= newOrderDetails.billingAddress.apartmentNumber %></li>
                <% } %>
            </ul>
            <p>
                Zahlungsdetails:
            </p>
            <table style="text-align: center; width: 100%;">
                <thead>
                    <th style="padding: 10px 0;">Produktbild</th>
                    <th style="padding: 10px 0;">Produktname</th>
                    <th style="padding: 10px 0;">Menge</th>
                    <th style="padding: 10px 0;">Rabatt</th>
                    <th style="padding: 10px 0;">Preis</th>
                </thead>
                <tbody>
                    <% for( let i = 0; i < newOrderDetails.products.length; i++ ) { %>
                        <tr>
                            <td style="padding: 10px 0;">
                                <img src="https://api.ubuyblues.com/<%= newOrderDetails.products[i].imagePath %>" alt="<%= newOrderDetails.products[i].name %> Image" style="width: 100px; height: 100px;" />
                            </td>
                            <td style="padding: 10px 0;">
                                <%= newOrderDetails.products[i].name %>
                            </td>
                            <td style="padding: 10px 0;">
                                <%= newOrderDetails.products[i].quantity %>
                            </td>
                            <td style="padding: 10px 0;">
                                <%= newOrderDetails.products[i].discount %>
                            </td>
                            <td style="padding: 10px 0;">
                                <%= newOrderDetails.products[i].unitPrice %>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <p>
                Gesamtbetrag: <%= newOrderDetails.totalPriceBeforeDiscount %>
            </p>
            <p>
                Versandkosten: <%= newOrderDetails.shippingCost.forLocalProducts + newOrderDetails.shippingCost.forInternationalProducts %>
            </p>
            <p>
                Gesamtrabatt: <%= newOrderDetails.totalDiscount %>
            </p>
            <p>
                Endbetrag: <%= newOrderDetails.totalPriceAfterDiscount %>
            </p>
            <p>
                Bitte sehen Sie sich unsere <a href="https://ubuyblues.com/return-and-refund-policy">Rückgabebedingungen</a> an.
            </p>
            <p>
                Unser Kundenserviceteam steht Ihnen per E-Mail zur Verfügung:
            </p>
            <a href="mailto:support@ubuyblues.com">support@ubuyblues.com</a>
            <div class="notes" style="text-align: center; border: 1px solid #000;">
                <h3>Diese E-Mail wurde automatisch gesendet.</h3>
                <h3>Bitte antworten Sie nicht auf diese Nachricht.</h3>
                <h3>Alle Rechte vorbehalten bei Ubuyblues.</h3>
            </div>
            <h4>Mit freundlichen Grüßen,</h4>
            <h4 style="line-height: 0; color: #6A017A;">Das Ubuyblues-Team</h4> 
        </section>
    </div>
<% } else { %>
    <div style="font-family: Helvetica,Arial,sans-serif; min-width: 1000px; overflow:auto; padding: 20px 0;">
        <section class="begin" style="text-align: center; color: #6A017A; margin-bottom: 20px;">
            <img src="https://api.ubuyblues.com/assets/images/stores/UbuyBlues_Logo_merged_Purple.webp" alt="Ubuyblues Image"
                style="width: 100px; height: 100px;">
        </section>
        <section class="content"
            style="width: 80%; border: 1px solid #6A017A; margin: auto; padding: 20px; line-height: 2;">
            <h2 style="text-align: center;">Merhaba</h2>
            <p>
                Size sipariş numaranız <%= newOrderDetails.orderNumber %>'in başarıyla teslim edildiğini bildirmekten mutluluk duyuyoruz.
            </p>
            <p>
                Ubuyblues'tan alışveriş yaptığınız için teşekkür ederiz. Satın almanızdan memnun olduğunuzu umarız.
            </p>
            <p>
                Görüşleriniz bizim için önemli ve Ubuyblues'tan alışveriş deneyiminiz hakkında daha fazla bilgi edinmek isteriz.
            </p>
            <p>
                Değerlendirme yapmak için lütfen bu <a href="https://forms.gle/oAWtagkx6cBaGNv46">bağlantıya</a> tıklayın.
            </p>
            <p>
                Sipariş Özeti:
            </p>
            <p>
                Teslimat Adresi:
            </p>
            <ul>
                <li>Tam Adı: <%= newOrderDetails.shippingAddress.firstName %> <%= newOrderDetails.shippingAddress.lastName %></li>
                <li>Ülke: <%= newOrderDetails.shippingAddress.country %></li>
                <li>Şehir: <%= newOrderDetails.shippingAddress.city %></li>
                <li>Sokak Adresi / Mahalle: <%= newOrderDetails.shippingAddress.streetAddress %></li>
                <% if (newOrderDetails.shippingAddress.apartmentNumber) { %>
                    <li>Daire Numarası: <%= newOrderDetails.shippingAddress.apartmentNumber %></li>
                <% } %>
            </ul>
            <p>
                Fatura Adresi:
            </p>
            <ul>
                <li>Tam Adı: <%= newOrderDetails.billingAddress.firstName %> <%= newOrderDetails.billingAddress.lastName %></li>
                <li>Ülke: <%= newOrderDetails.billingAddress.country %></li>
                <li>Şehir: <%= newOrderDetails.billingAddress.city %></li>
                <li>Sokak Adresi / Mahalle: <%= newOrderDetails.billingAddress.streetAddress %></li>
                <% if (newOrderDetails.billingAddress.apartmentNumber) { %>
                    <li>Daire Numarası: <%= newOrderDetails.billingAddress.apartmentNumber %></li>
                <% } %>
            </ul>
            <p>
                Ödeme Detayları:
            </p>
            <table style="text-align: center; width: 100%;">
                <thead>
                    <th style="padding: 10px 0;">Ürün Resmi</th>
                    <th style="padding: 10px 0;">Ürün Adı</th>
                    <th style="padding: 10px 0;">Miktar</th>
                    <th style="padding: 10px 0;">İndirim</th>
                    <th style="padding: 10px 0;">Fiyat</th>
                </thead>
                <tbody>
                    <% for( let i = 0; i < newOrderDetails.products.length; i++ ) { %>
                        <tr>
                            <td style="padding: 10px 0;">
                                <img src="https://api.ubuyblues.com/<%= newOrderDetails.products[i].imagePath %>" alt="<%= newOrderDetails.products[i].name %> Image" style="width: 100px; height: 100px;" />
                            </td>
                            <td style="padding: 10px 0;">
                                <%= newOrderDetails.products[i].name %>
                            </td>
                            <td style="padding: 10px 0;">
                                <%= newOrderDetails.products[i].quantity %>
                            </td>
                            <td style="padding: 10px 0;">
                                <%= newOrderDetails.products[i].discount %>
                            </td>
                            <td style="padding: 10px 0;">
                                <%= newOrderDetails.products[i].unitPrice %>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <p>
                Toplam Tutar: <%= newOrderDetails.totalPriceBeforeDiscount %>
            </p>
            <p>
                Kargo Ücreti: <%= newOrderDetails.shippingCost.forLocalProducts + newOrderDetails.shippingCost.forInternationalProducts %>
            </p>
            <p>
                Toplam İndirim: <%= newOrderDetails.totalDiscount %>
            </p>
            <p>
                Son Tutar: <%= newOrderDetails.totalPriceAfterDiscount %>
            </p>
            <p>
                Lütfen <a href="https://ubuyblues.com/return-and-refund-policy">Politikasını</a> inceleyin.
            </p>
            <p>
                Müşteri hizmetleri ekibimiz size e-posta ile yardımcı olmaya hazır:
            </p>
            <a href="mailto:support@ubuyblues.com">support@ubuyblues.com</a>
            <div class="notes" style="text-align: center; border: 1px solid #000;">
                <h3>Bu e-posta otomatik olarak gönderilmiştir.</h3>
                <h3>Lütfen bu mesaja yanıt vermeyin</h3>
                <h3>Tüm hakları Ubuyblues’a aittir</h3>
            </div>
            <h4>Saygılarımızla,</h4>
            <h4 style="line-height: 0; color: #6A017A;">Ubuyblues Ekibi</h4> 
        </section>
    </div>
<% } %>